<!DOCTYPE html>
<html lang="it-IT">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Gestione Torneo</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="Themesbrand" name="author" />
        <link rel="shortcut icon" href="/Public/assets/images/logo.png">

        <!-- DataTables -->
        <link href="/Public/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="/Public/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <!-- Responsive datatable examples -->
        <link href="/Public/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

        <link href="/Public/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/Public/assets/css/icons.css" rel="stylesheet" type="text/css">
        <link href="/Public/assets/css/style.css" rel="stylesheet" type="text/css">
    </head>

    <body class="main-content">        
        <div class="wrapper">
            <div class="container-fluid">
                <div class="card-body">
                    <a class="btn btn-outline-secondary waves-effect waves-light" href="/tournament" role="button">Crea Torneo</a>
                    <a class="btn btn-outline-secondary waves-effect waves-light" href="/rankingSchema" role="button">Crea Schema Classifica</a>
                    <div class="float-right">
                        <a class="btn btn-outline-danger waves-effect waves-light" href="/home" role="button">Torna indietro</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mt-0 header-title">Lista di tutti i tornei</h4>
                                <table class="table table-bordered dt-responsive nowrap text-center" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                    <tr>
                                        <th>Data</th>
                                        <th>Ora inzio</th>
                                        <th>Ora fine</th>
                                        <th>Tipo di Schema</th>
                                        <th>Calcola</th>
                                        <th>Elimina</th>
                                        <th>Modifica</th>
                                        <th>Registrazioni</th>
                                        <th>Vedi Registrazioni</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                        <% if(typeof tournament == 'object' && tournament){ %>
                                            <% tournament.forEach(t => { %>
                                                <tr>
                                                    <td><%= t.start_date %></td>
                                                    <td><%= t.start_time %></td>
                                                    <td><%= t.end_time %></td>
                                                    <td><%= t.id_schema %></td>
                                                    <% if(t.closed) { %>
                                                        <td><a class="btn btn-success waves-effect waves-light" href="/endTournament/<%= t.id %>">calcola</a></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td style="color: red;">Chiuse</td>
                                                    <% } else { %>
                                                        <td></td>
                                                        <td><a class="btn btn-danger waves-effect waves-light" href="/deleteTournament/<%= t.id %>">elimina</a></td>
                                                        <td><a class="btn btn-warning waves-effect waves-light" href="/updateTournament/<%= t.id %>">modifica</a></td>
                                                        <td><a class="btn btn-info waves-effect waves-light" href="/closeRegistrations/<%= t.id %>">Chiudi registrazioni</a></td>
                                                    <% } %>
                                                    <td><a class="btn btn-outline-secondary waves-effect" href="/management/<%= t.id %>">Visualizza</a></td>
                                                </tr>
                                            <% }) %>
                                        <% } %>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mt-0 header-title">Lista di tutti i schemi</h4>
                                <table class="table table-bordered dt-responsive nowrap text-center" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Top 1</th>
                                        <th>Top 2</th>
                                        <th>Top 3</th>
                                        <th>Top 5</th>
                                        <th>Top 10</th>
                                        <th>Top 15</th>
                                        <th>Top 20</th>
                                        <th>Kill</th>
                                        <th>N° ogni Team</th>
                                        <th>Gulag</th>
                                        <th>Elimina</th>
                                        <th>Modifica</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <% if(typeof schemas == 'object' && schemas) { %>
                                            <% schemas.forEach(s => { %>
                                                <tr>
                                                    <td><%= s.id %></td>
                                                    <td><%= s.name %></td>
                                                    <td><%= s.points_top1 %></td>
                                                    <td><%= s.points_top2 %></td>
                                                    <td><%= s.points_top3 %></td>
                                                    <td><%= s.points_top5 %></td>
                                                    <td><%= s.points_top10 %></td>
                                                    <td><%= s.points_top15 %></td>
                                                    <td><%= s.points_top20 %></td>
                                                    <td><%= s.kill %></td>
                                                    <th><%= s.playersnumber %></th>
                                                    <td><%= s.gulag %></td>
                                                    <td><a class="btn btn-outline-danger waves-effect waves-light" href="/deleteRankingSchema/<%= s.id %>">elimina</a></td>
                                                    <td><a class="btn btn-outline-warning waves-effect waves-light" href="/updateRankingSchema/<%= s.id %>">modifica</a></td>
                                                </tr>
                                            <% }) %>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row -->
            </div>
        </div>
        <!-- end wrapper-page -->
        <!-- jQuery  -->
        <script src="/Public/assets/js/jquery.min.js"></script>
        <script src="/Public/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/Public/assets/js/jquery.slimscroll.js"></script>
        <script src="/Public/assets/js/waves.min.js"></script>
        <script src="/Public/assets/libs/metismenu/metisMenu.min.js"></script>
        <script src="/Public/assets/libs/simplebar/simplebar.min.js"></script>
        <!-- Required datatable js -->
        <script src="/Public/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="/Public/plugins/datatables/dataTables.bootstrap4.min.js"></script>
        <!-- Buttons examples -->
        <script src="/Public/plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="/Public/plugins/datatables/buttons.bootstrap4.min.js"></script>
        <script src="/Public/plugins/datatables/jszip.min.js"></script>
        <script src="/Public/plugins/datatables/pdfmake.min.js"></script>
        <script src="/Public/plugins/datatables/vfs_fonts.js"></script>
        <script src="/Public/plugins/datatables/buttons.html5.min.js"></script>
        <script src="/Public/plugins/datatables/buttons.print.min.js"></script>
        <script src="/Public/plugins/datatables/buttons.colVis.min.js"></script>
        <!-- Responsive examples -->
        <script src="/Public/plugins/datatables/dataTables.responsive.min.js"></script>
        <script src="/Public/plugins/datatables/responsive.bootstrap4.min.js"></script>
        <!-- Datatable init js -->
        <script src="/Public/assets/pages/datatables.init.js"></script>   
        <!-- App js -->
        <script src="/Public/assets/js/app.js"></script>
    </body>
</html>