<!DOCTYPE html>
<html lang="it-IT">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/style.css">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <title>Modifica Torneo</title>
</head>
<body>
    <div class="form-insert">
        <h1>Modifica Torneo</h1>
        <form action="/updateTournament" method="post">
            <input type="hidden" name="id" value="<%= tournament.id %>"> 
            <input type="date" name="start_date" placeholder="Data di inizio" value="<%= tournament.start_date %>" required>
            <input type="time" name="start_time" placeholder="Ora di inizio" value="<%= tournament.start_time %>" required>
            <select name="id_schema" required>
                <% rows.forEach(function(element) { %>
                    <% if(tournament.id_schema == element.id) { %>
                        <option value="<%= element.id %>" selected><%= element.name %></option>
                    <% } else {%>
                        <option value="<%= element.id %>"><%= element.name %></option>
                    <% } %>
                <% }); %>
            </select>
            <input type="number" name="number_matches" placeholder="Numero di partite"  min="1" max="20" value="<%= tournament.number_matches %>" required>
            <input type="submit" value="Conferma">
            <a class="button-link" href="/management">Torna indietro</a>
        </form>
    </div>
</body>
</html>