<!DOCTYPE html>
<html lang="it-IT">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Iscrizione</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="Themesbrand" name="author" />
        <link rel="shortcut icon" href="/Public/assets/images/logo.png">

        <!-- DataTables -->
        <link href="/COD-MW-WEB/Public/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="/COD-MW-WEB/Public/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <!-- Responsive datatable examples -->
        <link href="/COD-MW-WEB/Public/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

        <link href="/Public/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/Public/assets/css/icons.css" rel="stylesheet" type="text/css">
        <link href="/Public/assets/css/style.css" rel="stylesheet" type="text/css">
    </head>

    <body class="main-content">
        <form action="/globalRankings" method="post">
            <div class="container-md">

            <div class="row justify-content-center align-self-center">
                <div id="cardheader" class="card col-lg-4 mt-5">
                    <h4 class="card-header font-16 mt-0">Lista della classifica globale</h4>
                    <div class="card-body">
                        <% if(!rankings) { %>               
                            <label for="tournamentDate">Data Torneo</label>
                            <div class="form-group">
                                <input type="date" class="form-control" name="tournamentDate" required>
                            </div>
                            <input type="submit" class="btn btn-primary w-md waves-effect waves-light" value="Vedi classifica">
                        <% } else { %>
                            <script type="text/javascript">
                                function resizeCard() {
                                    var card = document.getElementById("cardheader");
                                    card.classList.replace("col-lg-4", "col-lg-6");
                                }
                                resizeCard();
                            </script>
                                    <table class="table">
                                        <tr>
                                            <th>ID Torneo</th>
                                            <th>Data Inizio</th>
                                            <th>Ora Inizio</th>
                                            <th>Ora Fine</th>
                                        </tr>
                                        <tr>
                                            <td><%= rankings.id %></td>
                                            <td><%= new Date(rankings.start_date).toLocaleDateString('it-IT', { timeZone: 'Europe/Rome' }); %></td>
                                            <td><%= rankings.start_time %></td>
                                            <td><%= rankings.end_time %></td>
                                        </tr>
                                    </table>
                                        
                                        <br>
                                    <table class="table ">
                                        <% rankings.teams.teams.forEach(t => { %>
                                            <tr class="mt-2">
                                                <th class="bg-primary">
                                                    <p><%= t.tournamentPlace %></p>
                                                    <p><%= t.teamName %></p>
                                                </th>  
                                                <th >1° PARTITA</th>
                                                <th >2° PARTITA</th>
                                                <th>3° PARTITA</th>
                                                <th>TOT : </th>
                                            </tr>
                                            <tr>
                                                <th>Posizione : </th>
                                                <td ><%= t.matches[0].teamPlacement %></td>
                                                <td><%= t.matches[1].teamPlacement %></td>
                                                <td><%= t.matches[2].teamPlacement %></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <% let bonusPoints = t.matches[0].bonus + t.matches[1].bonus + t.matches[2].bonus; %>
                                                <th>Punteggio bonus: </th>
                                                <td><%= t.matches[0].bonus %></td>
                                                <td><%= t.matches[1].bonus %></td>
                                                <td><%= t.matches[2].bonus %></td>
                                                <td><%= bonusPoints %></td>
                                            </tr>
                                            <% const m = t.matches;    
                                                for(let i = 0; i < m.length; i++) {
                                                    for(let k = 0 ; k < m[i].players.length; k++){ 
                                                        let totalPointsMatch = 0; %>
                                                        <tr>
                                                            <th><%= m[i].players[k].username %> <span class="bg-info">KILL: </span></th>
                                                            <% let index = i; 
                                                            while(index < m.length) { %>
                                                                <td><%= m[index].players[k].kills %></td>
                                                                <% totalPointsMatch += m[index].players[k].kills;
                                                                index++; 
                                                            } %>
                                                            <td><%= totalPointsMatch %></td>
                                                        </tr>
                                                        
                                                    <%}
                                                    break;
                                                }
                                                %>
                                                <tr>
                                                    <th style="background-color : red">TOTALE PUNTI TEAM : </th>
                                                    <td style="background-color: darksalmon;"><%= t.totalPoints %></td>
                                                </tr>
                                            <% }); %> 
                                    </table>
                                   
                        <% } %>
                        <a class="btn btn-secondary waves-effect waves-light" href="/home">Torna indietro</a>
                    </div>
                </div>
            </div>
            </div>
        </form>     
        <!-- end wrapper-page -->
        <!-- jQuery  -->
        <script src="/COD-MW-WEB/Public/assets/js/jquery.min.js"></script>
        <script src="/COD-MW-WEB/Public/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/COD-MW-WEB/Public/assets/js/jquery.slimscroll.js"></script>
        <script src="/COD-MW-WEB/Public/assets/js/waves.min.js"></script>
        <script src="/COD-MW-WEB/Public/assets/libs/metismenu/metisMenu.min.js"></script>
        <script src="/COD-MW-WEB/Public/assets/libs/simplebar/simplebar.min.js"></script>
        <!-- Datatable init js -->
        <script src="/COD-MW-WEB/Public/assets/pages/datatables.init.js"></script>   
        <!-- App js -->
        <script src="/COD-MW-WEB/Public/assets/js/app.js"></script>
        
    </body>
</html>