<!DOCTYPE html>
<html lang="it-IT">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Public/style.css">
    <title>Classifica Globale</title>
</head>
<body>
    <div class="form-insert">
        <form action="/globalRankings" method="post">
            <% if(!rankings) {%> 
                <a href="/home">Torna indietro</a>
    
                <label for="tournamentDate">Data Torneo</label>
                <input type="date" name="tournamentDate" required>
        
                <input type="submit" value="Vedi classifica">
            <% } else { %>
                <div class="table-management">
                    <table>
                        <tr>
                            <th>ID Torneo</th>
                            <th>Numero partite</th>
                            <th>Data inizio</th>
                            <th>Ora inizio</th>
                        </tr>
                        <tr>
                            <td><%= rankings.id_tournament %></td>
                            <td><%= rankings.number_matches %></td>
                            <td><%= rankings.start_date %></td>
                            <td><%= rankings.start_time %></td>
                        </tr>
                    </table>
                    
                </div>

                <div class="table-managament">
                    <table>
                        <tr>
                            <th colspan="4" style="font-size : 30">SQUADRE</th>
                        </tr>
                        <tr style="text-align: center;">
                            <th>Posizione</th>
                            <th>Nome</th>
                            <th>Punti</th>
                        </tr>
                        <tr style="text-align: center;">
                            <% rankings.teams.forEach(t => { %>
                                <td><%= t.rankPositionSchema %></td>
                                <td><%= t.teamName %></td>
                                <td><%= t.points %></td>
                            <% }) %>
                        </tr>
                    </table>
                </div>
                <a class="button-link" href="/globalRankings">Torna indietro</a>
            <% } %>
            <a class="button-link" href="/home">Torna indietro</a>
        </form>
    </div>
    
</body>
</html>